<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPages</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FontAwesome/css/all.css" />
    <link rel="stylesheet" href="~/sass/layout.css" />
    <link rel="stylesheet" href="~/sass/general.css" />
    <link href='https://fonts.googleapis.com/css?family=Astloch' rel='stylesheet'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="logo total-white-link col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" style="color: white" type="button" data-toggle="collapse" data-target=".navbar-collapse" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon fa fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between row">
                    <ul class="navbar-nav" style="width:100%">
                        <li class="nav-item col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <div class="btn-group">
                                <a class="total-white-link button-dropdown" asp-area="" asp-controller="Product" asp-action="List">Products</a>
                                <button type="button" class="dropdown-toggle dropdown-toggle-split button-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="@null">Pilots</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="@null">Engineers</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="@null">Mechanics</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="@null">Principals</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="@null">Power units</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                            <form asp-controller="Product" asp-action="List" method="get" class="form-inline search-form row">
                                <input class="searchbar col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" type="search" 
                                placeholder="Search a product..." aria-label="Search" name="searchString" value="@ViewData["CurrentFilter"]" />
                                <button class="button-header col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" type="submit" value="">
                                    <i class="fa fa-search fa-align-center"></i>
                                </button>
                                <a class="button-header-alt col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" asp-area="" asp-controller="" asp-action="">
                                    <i class="fa fa-shopping-cart fa-align-center"></i>
                                </a>
                            </form>
                        </li>
                        <!--<li class="nav-item navbar-item">
                            <div class="color-toggler">
                                <p class="total-white-link">Change color mode</p>
                                <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite" draggable="false">
                                    <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                                        <mask class="moon" id="moon-mask">
                                            <rect x="0" y="0" width="100%" height="100%" fill="white" />
                                            <circle cx="24" cy="10" r="6" fill="black" />
                                        </mask>
                                        <g class="sun-beams" stroke="currentColor">
                                            <line x1="12" y1="1" x2="12" y2="3" />
                                            <line x1="12" y1="21" x2="12" y2="23" />
                                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                                            <line x1="1" y1="12" x2="3" y2="12" />
                                            <line x1="21" y1="12" x2="23" y2="12" />
                                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                                        </g>
                                        <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
                                    </svg>
                                </button>
                            </div>
                        </li>-->
                        <li class="nav-item col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="text-align: center; vertical-align:middle;">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link btn-login button-header total-white-link" asp-area="" asp-controller="Account" asp-action="Login">
                                    <p>Login<i class="fa fa-user"></i></p>
                                </a>
                            }
                            else { }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="container-fluid" style="margin-top:20px">
        @RenderBody()
    </div>

    <footer class="total-white-link">
        <div class="container">
            <hr style="margin-top:8px; margin-bottom:8px;" />
            <div class="row">
               <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                   <h4>LeMadrid Corp.</h4>
               </div>
               <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                   <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="About">About LeMadric</a>
                   <p>Who is behind LeMadrid Corporation</p>
               </div>
               <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                   <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                   <p>Having a question to the LeMadrid Team?</p>
               </div>
            </div>
        </div>
        <hr style="margin-top:8px; margin-bottom:8px;" />
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p>Copyright © 2022 LeMadrid Corporation</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/theme-switch.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        //window.onscroll = function() {scrolling()};

        //var header = document.getElementById('navbar2');
        //var content = document.getElementById('content');

        //var sticky = header.offsetTop;

        //function scrolling() {
        //    if (window.pageYOffset > sticky) {
        //        header.classList.add('fixed-top');
        //        content.classList.add('container-padding');
        //    }
        //    else {
        //        header.classList.remove('fixed-top');
        //        content.classList.remove('container-padding');
        //    }
        //}
    </script>
</body>
</html>
