@model CommandVM

@section Styles {
<link rel="stylesheet" href="~/sass/command.css" />
}
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 form-background">
            <br />
            <br />
            <h2>Are you certain you want to purchase these items?</h2>
            <hr />
            <h4>First name : @Model.FirstName</h4>
            <h4>Last name : @Model.LastName</h4>
            <h4>Email : @Model.Email</h4>
            <h4>Phone number : @Model.Phone</h4>
            <h4>Address : @Model.Address</h4>
            <h4>City : @Model.City</h4>
            <h4>Province : @Model.Province</h4>
            <h4>Country: @Model.Country</h4>
            <h4>Postal code: @Model.PostalCode</h4>
            <hr />
            @foreach (var item in Model.Products)
            {
                foreach (var dict in Model.CommandDictionary)
                {
                    if (@item.Id == dict.Key)
                    {
                        if (dict.Value > 1)
                        {
                            <h4>@item.Name for @dict.Value years</h4>
                        }
                        else
                        {
                            <h4>@item.Name for @dict.Value year</h4>
                        }
                    }
                }
            }
            <hr />
            <h4>Total before discount: @Model.Total</h4>
            <h4>Total discount: @Model.TotalDiscount</h4>
            <h4>Total with discount: @Model.TotalWithDiscount</h4>
            <h4>Total: @Model.TotalWithTaxes</h4>
            <form asp-action="CommandConfirmation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="FirstName" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="LastName" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Email" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Phone" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Address" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="City" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Province" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Country" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="PostalCode" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Total" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="TotalDiscount" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="TotalWithDiscount" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="TotalWithTaxes" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Products" type="hidden" class="form-control" />
                </div>
                <br />
                <br />
                <div class="display-buttons">
                    <button onclick="clearCart();" type="submit" value="CommandConfirmation" class="checkout-button">
                        Confirm purchase
                    </button>
                    <div class="checkout-button center-button" onclick="callCart()">
                        Cancel the command
                    </div>
                </div>
                <a id="cart-link" style="display:none; width:auto%; height: 0%" asp-area="" asp-controller="Product" asp-action="Cart" asp-route-ProductId=""></a>
                <br />
                <br />
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />

<script type="text/javascript">
    function clearCart() {
            localStorage.clear();
        }
</script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
