@model LemadDb.Domain.Entities.Product

<div>
    <h4>ProductViewModel</h4>
    <hr />
    <dl class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="aspect-ratio: 1/1; width: 100%; background-repeat:no-repeat; background-size:cover; background-image:url(data:image/*;base64,@(Convert.ToBase64String(Model.Photo)))"></div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ActualPrice)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Discount)% (@Html.DisplayFor(model => model.DiscountAmount))$
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ProductCategory)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ProductCategory)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    </dl>
</div>
@if (User.IsInRole("Administrator"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a asp-action="List">Back to List</a>
    </div>
}
