@model Product

<div>
    <h5></h5>
    <hr />
    <br />
    <br />

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom:10px; aspect-ratio: 1/1; width: 100%; background-repeat:no-repeat; background-size:cover; background-image:url(data:image/*;base64,@(Convert.ToBase64String(Model.Photo)))"></div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="padding:25px">
            <div class="row">
                <h1>@Model.Name - @Model.GetCategoryName</h1>
                <h6>@Model.GetDate</h6>
                <br />
                <br />
                <br />
                <h3>Prix: @Model.FormatNumber(@Model.ActualPrice) (rabais de @Model.FormatNumber(Model.DiscountAmount)$)</h3>
                @if (Model.Status == ProductStatus.LIQUIDATION || Model.Status == ProductStatus.PROMOTION)
                {
                    <h4 style="color:red">Disponibility: @Model.GetDisponibility()</h4>
                }
                else
                {
                    <h4 style="color:black">Disponibility: @Model.GetDisponibility()</h4>
                }
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="padding:25px">
            <div class="row">
                @if (Model.Description != "")
                {
                    <h3>Description: @Model.Description</h3>
                }
                else
                {
                    <h4>@Model.Name - @Model.GetCategoryName</h4>
                    <h6>@Model.GetDate</h6>
                }
            </div>
            <div class="row">
                <br />
                <br />
                @if (Model.Quote != "")
                {
                    <h3>" @Model.Quote "</h3>
                }
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("Administrator"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a asp-action="List">Back to List</a>
    </div>
}
