@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/sass/catalogue.css" />
}
<div class="container-padding">
    <h4>Catalogue</h4>
    <h5>Pilots</h5>
        <vc:product-list product="PILOT" search="@ViewData["CurrentFilter"]"></vc:product-list>

    <h5>Engineers</h5>
        <vc:product-list product="ENGINEER" search="@ViewData["CurrentFilter"]"></vc:product-list>
    
    <h5>Mechanics</h5>
    <vc:product-list product="MECHANIC" search="@ViewData["CurrentFilter"]"></vc:product-list>
    
    <h5>Principals</h5>
        <vc:product-list product="PRINCIPAL" search="@ViewData["CurrentFilter"]"></vc:product-list>
    
    <h5>Power Units</h5>
        <vc:product-list product="POWERUNIT" search="@ViewData["CurrentFilter"]"></vc:product-list>
</div>
