@model CartInfoVM

<div class="title">
    <h3>Summary</h3>
</div>

@{
    var test = Model;
    int i = 0;
}
<hr class="mr-4" />
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Total: </h5>
    <h5>@Model.GetTotal</h5>
</div>
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Discount: </h5>
    <h5>@Model.GetTotalDiscount</h5>
</div>
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Subtotal: </h5>
    <h5>@Model.GetTotalWithDiscount</h5>
</div>
<hr />
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Final Price: </h5>
    <h5>@Model.GetTotalWithTaxes</h5>
</div>
<div class="button-div text-white justify-content-center mb-4">
    @if (Model.CountProduct > 0) {
                            <button class="checkout-button" onclick="callTheCart('@Model.Total', '@Model.TotalDiscount', '@Model.TotalWithDiscount', '@Model.TotalWithTaxes')">
                                        Proceed to Checkout
                            </button>
                            <a id="command-link" style="display:none; width:auto%; height: 0%" asp-area="" asp-controller="Product" asp-action="Command" asp-route-total="" asp-route-totalDiscount="" asp-route-totalWithDiscount="" asp-route-totalWithTaxes="" asp-route-ProductId=""></a>
    }
    else {
        <button class="checkout-button" disabled>Proceed to Checkout</button>
    }
</div>

<script type="text/javascript">
    function getMyCart() {
            var products = window.localStorage.Products;
            if (products != null) {
                var array = JSON.parse(products);
                return array;
            }
            return null;
        }

    function callTheCart(total, totalDiscount, totalWithDiscount, totalWithTaxes) {
            var rep = getMyCart();

            if (rep == null)
                rep = '';

            $('#command-link').attr('href', '/Product/Command?ProductId=' + JSON.stringify(rep) + '&total='  + total + '&totalDiscount='  + totalDiscount + '&totalWithDiscount='  + totalWithDiscount + '&totalWithTaxes='  + totalWithTaxes);
            document.getElementById('command-link').click();
        }
</script>