@model CartInfoVM

<div class="title">
    <h3>Summary</h3>
</div>
<hr class="mr-4" />
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Total: </h5>
    <h5>@Model.GetTotal</h5>
</div>
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Discount: </h5>
    <h5>@Model.GetTotalDiscount</h5>
</div>
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Subtotal: </h5>
    <h5>@Model.GetTotalWithDiscount</h5>
</div>
<hr />
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Final Price: </h5>
    <h5>@Model.GetTotalWithTaxes</h5>
</div>
<div class="button-div text-white justify-content-center mb-4">
    @if (Model.CountProduct > 0) {
        <button class="checkout-button"
            onclick="callCommand('@Model.Total', '@Model.TotalDiscount', '@Model.TotalWithDiscount', '@Model.TotalWithTaxes');">
            Proceed to Checkout
        </button>
    }
    else {
        <button class="checkout-button" disabled>Proceed to Checkout</button>
    }
</div>


<script type="text/javascript">
    function callCommand(total, totalD, totalWD, totalWT) {
        var prodId = JSON.stringify(getCart());

        //window.localStorage.clear();

        $.ajax({
            type: "GET",
            url: "@Url.Action("Command", "Product")",
            data: {
                products: prodId,
                total: total,
                totalDiscount: totalD,
                totalWithDiscount: totalWD,
                totalWithTaxes: totalWT
            }
        });
    }
</script>